body {
    background: rgb(255, 153, 153);
}

table {
    border-spacing: 1;
}

td {
    background-color: white;
    padding: 0;
}

td.room {
    width: 40px;
    height: 40px;
}

td.wall {
    background-color: black;
    cursor: pointer;
}

td.noWall {
    background-color: white;
    cursor: pointer;
}

td.narrow {
    width: 10px;
}

td.wide {
    width: 40px;
}

td.high {
    height: 40px;
}

td.low {
    height: 10px;
}

td.corner {
    width: 10px;
    height: 10px;
    background-color: black;
}

td.outerWallHorizontal {
    width: 40px;
    height: 10px;
    background-color: black;
}

td.outerWallVertical {
    width: 10px;
    height: 40px;
    background-color: black;
}

td.entranceAndExit {
    width: 40px;
    height: 10px;
    background-color: white;
}